= form_for @pet, validate: true do |f|
  .form-group
    = f.label "Nombre", class: 'form-label required'
    = f.text_field :name, autofocus: true, class: 'form-control'
  .form-group
    = f.label "Tipo", class: 'form-label required'
    = f.select(:specie, options_for_select(pet_species, @pet.specie),
                        {prompt:"Seleccione"}, class:'form-control')
  .form-group
    = f.label "Dueño", class: 'form-label required'
    = f.select(:user_id, options_for_select(@users, @pet.user),
                        {prompt:"Seleccione"}, class:'form-control')
  .row
    .offset-3.col-3
      = link_to "Atrás", pets_path,  class: 'btn btn-secondary btn-block'
    .col-3
      = button_tag "Guardar", class: 'btn btn-outline-success btn-block',
          'data-disable-with': "Guardando..."

