= form_for @user, validate: true do |f|
  .form-group
    = f.label "Nombre", class: 'form-label required'
    = f.text_field :first_name, autofocus: true, class: 'form-control'
  .form-group
    = f.label "Apellido", class: 'form-label required'
    = f.text_field :last_name, autofocus: true, class: 'form-control'
  .row
    .offset-3.col-3
      = link_to "Atrás", users_path,  class: 'btn btn-secondary btn-block'
    .col-3
      = button_tag "Guardar", class: 'btn btn-outline-success btn-block',
          'data-disable-with': "Guardando..."

