.page-header
  %h1.mb-4
    ="Listado de usuarios"
    .float-right
      = link_to "Nuevo usuario", new_user_path, class: 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th="Nombre"
      %th="Apellido"
      %th
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.first_name
        %td= user.last_name
        %td= link_to "Ver", user, class: 'btn btn-info'
        %td= link_to "Editar", edit_user_path(user), class: 'btn btn-success'
        %td= link_to "Eliminar", user, method: :delete, class: 'btn btn-danger',
                  data: { confirm: "Desea eliminarlo",
                    accept: "OK",
                    reject: "CANCELAR" }

%br
